*{
    padding: 0;
    margin:0;
}
body{
    background-color: #FAF8EF;
}

@media screen and (min-width:480px) {
    .left{
        float:left;
    }

    .right{
        float:right;
    }

    .scoreshow{
        height:50px;
        text-align:center;
        line-height:50px;
        color:#BBADA0;
    }

    .logo{
        height:50px;
        margin:0 auto;
        margin-top:25px;
        border-radius:6px;
    }

    #logo_span{
        font-size:40px;
        line-height:50px;
        color:#BBADA0;
        display:inline-block;
    }

    .head{
        width:480px;
        height:100px;
        font-size:25px;
        margin:0 auto;
    }

    #panel{
        width:480px;
        height:480px;
        margin:0 auto;
        background-color: #bbada0;
        border-radius:10px;
        position:relative;
        z-index:1;
    }

    .in2,.in4,.in8,.in16,.in32,.in64{
        font-size:53px;
        line-height:100px;
    }

    .in128,.in256,.in512{
        font-size:43px;
        line-height:100px;
    }

    .in1024,.in2048,.in4096,.in8192{
        font-size:33px;
        line-height:100px;
    }

    .in16384,.in32768{
        font-size:23px;
        line-height:100px;
    }

    .color_2_4{
        color:#776E65;
    }

    .color_2048{
        color:#F9F6F2;
    }

    .n0{
        background-color: #CDC1B4;
    }

    .n2 {
        background-color: #eee3da;
    }

    .n4 {
        background-color: #ede0c8;
    }

    .n8 {
        background-color: #f2b179;
    }

    .n16 {
        background-color: #f59563;
    }

    .n32 {
        background-color: #f67c5f;
    }

    .n64 {
        background-color: #f65e3b;
    }

    .n128 {
        background-color: #edcf72;
    }

    .n256 {
        background-color: #edcc61;
    }

    .n512 {
        background-color: #9c0;
    }

    .n1024 {
        background-color: #33b5e5;
    }

    .n2048 {
        background-color: #09c;
    }

    .n4096 {
        background-color: #a6c;
    }

    .n8192 {
        background-color: #93c;
    }

    .n16384 {
        background-color: #CD00CD;
    }

    .n32768 {
        background-color: #8B2323;
    }

    .n2,
    .n4 {
        color: #776e65;
    }

    #gameover{
        width:100%;
        display:none;
        position:absolute;
        left:50%;
        right:50%;
        top:41%;
        width:216px;
        height:150px;
        border-radius:10px;
        background-color:#FAF8EF;
        margin-left:-110px;
        padding-top:24px;
        text-align:center;
        z-index:5;
    }

    #gameover>a{
        display:inline-block;
        width:170px;
        padding-left:10px;
        padding-right:10px;
        height:50px;
        line-height:50px;
        border-radius:10px;
        text-decoration:none;
        background-color:#9f8d77;
        color:white;
        font-size:34px;
    }
}

@media screen and (max-width:480px) {
    .left{
        float:left;
    }

    .right{
        float:right;
    }

    .scoreshow{
        height:50px;
        text-align:center;
        line-height:50px;
        color:#BBADA0;
    }

    .logo{
        height:50px;
        margin:0 auto;
        margin-top:25px;
        border-radius:6px;
    }

    #logo_span{
        font-size:40px;
        line-height:50px;
        color:#BBADA0;
        display:inline-block;
    }

    .head{
        width:280px;
        height:100px;
        font-size:25px;
        margin:0 auto;
    }

    #panel{
        width:280px;
        height:280px;
        margin:0 auto;
        background-color: #bbada0;
        border-radius:10px;
        position:relative;
        z-index:1;
    }

    .in2,.in4,.in8,.in16,.in32,.in64{
        font-size:33px;
        line-height:60px;
    }

    .in128,.in256,.in512{
        font-size:23px;
        line-height:60px;
    }

    .in1024,.in2048,.in4096,.in8192{
        font-size:20px;
        line-height:60px;
    }

    .in16384,.in32768{
        font-size:17px;
        line-height:60px;
    }

    .color_2_4{
        color:#776E65;
    }

    .color_2048{
        color:#F9F6F2;
    }

    .n0{
        background-color: #CDC1B4;
    }

    .n2 {
        background-color: #eee3da;
    }

    .n4 {
        background-color: #ede0c8;
    }

    .n8 {
        background-color: #f2b179;
    }

    .n16 {
        background-color: #f59563;
    }

    .n32 {
        background-color: #f67c5f;
    }

    .n64 {
        background-color: #f65e3b;
    }

    .n128 {
        background-color: #edcf72;
    }

    .n256 {
        background-color: #edcc61;
    }

    .n512 {
        background-color: #9c0;
    }

    .n1024 {
        background-color: #33b5e5;
    }

    .n2048 {
        background-color: #09c;
    }

    .n4096 {
        background-color: #a6c;
    }

    .n8192 {
        background-color: #93c;
    }

    .n16384 {
        background-color: #CD00CD;
    }

    .n32768 {
        background-color: #8B2323;
    }

    .n2,
    .n4 {
        color: #776e65;
    }

    #gameover{
        width:100%;
        display:none;
        position:absolute;
        left:50%;
        right:50%;
        top:37%;
        width:160px;
        height:120px;
        border-radius:10px;
        background-color:#FAF8EF;
        margin-left:-75px;
        padding-top:20px;
        text-align:center;
        z-index:5;
    }

    #gameover>a{
        display:inline-block;
        width:140px;
        height:30px;
        line-height:30px;
        border-radius:6px;
        text-decoration:none;
        background-color:#9f8d77;
        color:white;
        font-size:16px;
    }
}
